defaults: &defaults
  adapter: mysql
  username: root
  password:
  host: localhost
  reconnect: true

development:
  database: pulse
  <<: *defaults

staging:
  database: emu
  <<: *defaults

production:
  database: pulse
  <<: *defaults

pat:
  database: pat
  <<: *defaults
